# Create required columns for validation process

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import validasiVariable as createVar
from tqdm import tqdm

In [2]:
# Database 
# validasi.db
############
# make connection to sqlite db
conn = sqlite3.connect('validasi.db')
c = conn.cursor()

# enable foreign keys
c.execute("PRAGMA foreign_keys = ON")
conn.commit()

In [ ]:
'''
id TEXT PRIMARY KEY, 
uri TEXT, 
prodname TEXT, 
prodpic BOOLEAN, 
price INTEGER, 
prodrating REAL, 
prodseen INTEGER, 
prodsold INTEGER, 
category TEXT, 
topads BOOLEAN, 
subcat TEXT, 
subsubcat TEXT, 
merchantname TEXT, 
reputation INTEGER, 
merchanttype TEXT, 
cashback REAL, 
rone INTEGER, 
rtwo INTEGER, 
rthree INTEGER, 
rfour INTEGER, 
rfive INTEGER, 
reviewcount INTEGER, 
discussionscnt INTEGER, 
questionscnt INTEGER, 
answerscnt INTEGER, 
helpfulreviewerscnt INTEGER, 
ranking INTEGER , 
possentiment INTEGER, 
negsentiment INTEGER, 
sentipolarity INTEGER, 

idProd TEXT,
minbeli INTEGER, 
prodpicstotal INTEGER, 
reviewersrep INTEGER, 
revpictotal INTEGER, 
ratingmosthelpful INTEGER, 
otheragreemean REAL, 
posreview REAL, 
negreview REAL, 
cashbackval REAL, 
actualrevcount REAL, 
salescluster REAL
'''

In [3]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN idProd TEXT'
c.execute(sqlc)
conn.commit()

In [4]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN minbeli INTEGER'
c.execute(sqlc)
conn.commit()

In [5]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN prodpicstotal INTEGER'
c.execute(sqlc)
conn.commit()

In [6]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN reviewersrep INTEGER'
c.execute(sqlc)
conn.commit()

In [7]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN revpictotal INTEGER'
c.execute(sqlc)
conn.commit()

In [8]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN ratingmosthelpful INTEGER'
c.execute(sqlc)
conn.commit()

In [9]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN otheragreemean REAL'
c.execute(sqlc)
conn.commit()

In [10]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN posreview REAL'
c.execute(sqlc)
conn.commit()

In [11]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN negreview REAL'
c.execute(sqlc)
conn.commit()

In [12]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN cashbackval REAL'
c.execute(sqlc)
conn.commit()

In [13]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN actualrevcount REAL'
c.execute(sqlc)
conn.commit()

In [14]:
# column idProd (prodpage)
sqlc = 'ALTER TABLE prodpage ADD COLUMN salescluster REAL'
c.execute(sqlc)
conn.commit()

In [ ]:
'''
id TEXT NOT NULL, 
review TEXT, 
datereview TEXT, 
timereview TEXT, 
negsmiley INTEGER, 
possmiley INTEGER, 
neutsmiley INTEGER, 
helpful NUMERIC, 
ordinary NUMERIC, 
profpic TEXT, 
prodpic BOOLEAN, 
otheragree INTEGER, 
rating INTEGER, 
subsubcat TEXT, 
profpic2 BOOLEAN, 
negsentiment INTEGER, 
possentiment INTEGER, 
ovsentiment INTEGER, 
FOREIGN KEY (id) REFERENCES prodpage(id) ON UPDATE CASCADE ON DELETE CASCADE
'''

## Update columns' values

In [15]:
# update 'actualrevcount'
csvoutput = './csvfiles/validasi_variable.csv'
createVar.actualRevCount(conn, c, csvoutput)

  1%|▏         | 23/1582 [00:00<00:06, 224.35it/s]

Updating 'actualrevcount' column

100%|██████████| 1582/1582 [00:07<00:00, 215.77it/s]

In [16]:
# update 'cashbackval'
createVar.cashbackVal(conn, c, csvoutput)

  1%|▏         | 23/1582 [00:00<00:07, 222.65it/s]

Updating 'cashbackval' column

100%|██████████| 1582/1582 [00:07<00:00, 217.04it/s]

In [17]:
# update 'posreview' and 'negreview'
createVar.posNegReview(conn, c, csvoutput)

  1%|▏         | 23/1582 [00:00<00:06, 228.60it/s]

Updating 'posreview' column

100%|██████████| 1582/1582 [00:07<00:00, 221.26it/s]
  2%|▏         | 24/1582 [00:00<00:06, 238.50it/s]

Updating 'negreview' column

100%|██████████| 1582/1582 [00:07<00:00, 223.09it/s]

In [18]:
# update 'otheragreemean'
createVar.otherAgree(conn, c, csvoutput)

  1%|▏         | 20/1582 [00:00<00:08, 193.65it/s]

Updating 'otheragreemean' column

100%|██████████| 1582/1582 [00:07<00:00, 223.75it/s]

In [19]:
# update 'ratingmosthelpful'
createVar.ratingMostHelpful(conn, c, csvoutput)

  2%|▏         | 24/1582 [00:00<00:06, 232.22it/s]

Updating 'ratingmosthelpful' column

100%|██████████| 1582/1582 [00:07<00:00, 219.75it/s]

In [20]:
# update 'reviewersrep'
createVar.reviewersRep(conn, c, csvoutput)

  2%|▏         | 24/1582 [00:00<00:06, 235.48it/s]

Update 'reviewersrep' column in prodpage table

100%|██████████| 1582/1582 [00:07<00:00, 220.22it/s]

In [22]:
# update 'idProd'
def upIdProd(connection, cursor, csvinput):
    # read csv file
    idprod = pd.read_csv(csvinput)

    # update validasi.db 'idProd' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'idProd = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'idProd\'')
    for i in tqdm(range(len(idprod))):
        mongoid = idprod.loc[i, 'id_val']
        idupdate = str(idprod.loc[i, 'id_prod'])
        sqlall = sqlc1 + sqlc2 + '"'+idupdate+'"' + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

csvinput = './csvfiles/validasi_merged.csv'
upIdProd(conn, c, csvinput)

  2%|▏         | 25/1582 [00:00<00:06, 244.05it/s]

Updating sql column 'idProd'

100%|██████████| 1582/1582 [00:07<00:00, 223.81it/s]

###### update 'revpictotal'

In [23]:
# update 'revpictotal'

# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, revpictotal FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'revpictotal']

# Query 2
#########
sqlc2 = 'SELECT id, revpictotal, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'revpictotal', 'idprod']

In [24]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [25]:
prod.head()

                     idprod  revpictotal
0  5aa2ad7735d6d34b0032a795          545
1  5aa39533ae1f941be7165ecd          653
2  5a93e8768cbad97881597597          494
3  5a95d7ae35d6d33d3fea56ff          341
4  5aa274ad8cbad96d9a0c50be          403

In [26]:
validasi.head()

                         id revpictotal                    idprod
0  5b32126eb8a9f70142f6a766        None  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767        None  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786        None  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769        None  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b        None  5aa2c35e35d6d34b0032a796

In [27]:
revpictotal = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
revpictotal.head()

,idprod,revpictotal_prod,id,revpictotal_val
0,5aa2ad7735d6d34b0032a795,545,5b32126eb8a9f70142f6a766,None
1,5aa39533ae1f941be7165ecd,653,5b322e9cb8a9f70142f6a767,None
2,5a93e8768cbad97881597597,494,5b324265b8a9f70142f6a768,None
3,5a95d7ae35d6d33d3fea56ff,341,5b32509bb8a9f70142f6a769,None
4,5aa274ad8cbad96d9a0c50be,403,5b326399b8a9f70142f6a76a,None

In [28]:
revpictotal = revpictotal[['id', 'revpictotal_prod']]

In [29]:
revpictotal.columns = ['id', 'revpictotal']
revpictotal.head()

                         id  revpictotal
0  5b32126eb8a9f70142f6a766          545
1  5b322e9cb8a9f70142f6a767          653
2  5b324265b8a9f70142f6a768          494
3  5b32509bb8a9f70142f6a769          341
4  5b326399b8a9f70142f6a76a          403

In [30]:
def upRevpictotal(connection, cursor, df):
    # read csv file
    revpictotal = df

    # update validasi.db 'idProd' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'revpictotal = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'revpictotal\'')
    for i in tqdm(range(len(revpictotal))):
        mongoid = revpictotal.loc[i, 'id']
        revpic = str(revpictotal.loc[i, 'revpictotal'])
        sqlall = sqlc1 + sqlc2 + revpic + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upRevpictotal(conn, c, revpictotal)

  1%|▏         | 22/1582 [00:00<00:07, 217.71it/s]

Updating sql column 'revpictotal'

100%|██████████| 1582/1582 [00:07<00:00, 225.87it/s]

###### update 'prodpicstotal'

In [31]:
# update 'prodpictotal'

# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, prodpicstotal FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'prodpicstotal']

# Query 2
#########
sqlc2 = 'SELECT id, prodpicstotal, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'prodpicstotal', 'idprod']

In [32]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [33]:
prod.head()

                     idprod  prodpicstotal
0  5aa2ad7735d6d34b0032a795             23
1  5aa39533ae1f941be7165ecd             48
2  5a93e8768cbad97881597597             10
3  5a95d7ae35d6d33d3fea56ff             26
4  5aa274ad8cbad96d9a0c50be             28

In [34]:
validasi.head()

                         id prodpicstotal                    idprod
0  5b32126eb8a9f70142f6a766          None  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767          None  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786          None  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769          None  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b          None  5aa2c35e35d6d34b0032a796

In [35]:
prodpicstotal = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
prodpicstotal.head()

,idprod,prodpicstotal_prod,id,prodpicstotal_val
0,5aa2ad7735d6d34b0032a795,23,5b32126eb8a9f70142f6a766,None
1,5aa39533ae1f941be7165ecd,48,5b322e9cb8a9f70142f6a767,None
2,5a93e8768cbad97881597597,10,5b324265b8a9f70142f6a768,None
3,5a95d7ae35d6d33d3fea56ff,26,5b32509bb8a9f70142f6a769,None
4,5aa274ad8cbad96d9a0c50be,28,5b326399b8a9f70142f6a76a,None

In [36]:
prodpicstotal = prodpicstotal[['id', 'prodpicstotal_prod']]
prodpicstotal.columns = ['id', 'prodpicstotal']
prodpicstotal.head()

                         id  prodpicstotal
0  5b32126eb8a9f70142f6a766             23
1  5b322e9cb8a9f70142f6a767             48
2  5b324265b8a9f70142f6a768             10
3  5b32509bb8a9f70142f6a769             26
4  5b326399b8a9f70142f6a76a             28

In [37]:
def upProdpicstotal(connection, cursor, df):
    # read csv file
    prodpicstotal = df

    # update validasi.db 'idProd' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'prodpicstotal = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'prodpicstotal\'')
    for i in tqdm(range(len(prodpicstotal))):
        mongoid = prodpicstotal.loc[i, 'id']
        prodpic = str(prodpicstotal.loc[i, 'prodpicstotal'])
        sqlall = sqlc1 + sqlc2 + prodpic + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upProdpicstotal(conn, c, prodpicstotal)

  1%|▏         | 23/1582 [00:00<00:06, 224.92it/s]

Updating sql column 'prodpicstotal'

100%|██████████| 1582/1582 [00:07<00:00, 221.99it/s]

###### update 'minbeli'

In [38]:
# update 'prodpictotal'

# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, minbeli FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'minbeli']

# Query 2
#########
sqlc2 = 'SELECT id, minbeli, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'minbeli', 'idprod']

In [39]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [40]:
prod.head()

                     idprod  minbeli
0  5aa2ad7735d6d34b0032a795        1
1  5aa39533ae1f941be7165ecd        1
2  5a93e8768cbad97881597597        5
3  5a95d7ae35d6d33d3fea56ff        1
4  5aa274ad8cbad96d9a0c50be        1

In [41]:
validasi.head()

                         id minbeli                    idprod
0  5b32126eb8a9f70142f6a766    None  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767    None  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786    None  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769    None  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b    None  5aa2c35e35d6d34b0032a796

In [42]:
minbeli = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
minbeli.head()

,idprod,minbeli_prod,id,minbeli_val
0,5aa2ad7735d6d34b0032a795,1,5b32126eb8a9f70142f6a766,None
1,5aa39533ae1f941be7165ecd,1,5b322e9cb8a9f70142f6a767,None
2,5a93e8768cbad97881597597,5,5b324265b8a9f70142f6a768,None
3,5a95d7ae35d6d33d3fea56ff,1,5b32509bb8a9f70142f6a769,None
4,5aa274ad8cbad96d9a0c50be,1,5b326399b8a9f70142f6a76a,None

In [43]:
minbeli = minbeli[['id', 'minbeli_prod']]
minbeli.columns = ['id', 'minbeli']
minbeli.head()

                         id  minbeli
0  5b32126eb8a9f70142f6a766        1
1  5b322e9cb8a9f70142f6a767        1
2  5b324265b8a9f70142f6a768        5
3  5b32509bb8a9f70142f6a769        1
4  5b326399b8a9f70142f6a76a        1

In [44]:
def upMinbeli(connection, cursor, df):
    # read csv file
    minbeli = df

    # update validasi.db 'minbeli' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'minbeli = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'minbeli\'')
    for i in tqdm(range(len(minbeli))):
        mongoid = minbeli.loc[i, 'id']
        minpurchase = str(minbeli.loc[i, 'minbeli'])
        sqlall = sqlc1 + sqlc2 + minpurchase + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upMinbeli(conn, c, minbeli)

  2%|▏         | 24/1582 [00:00<00:06, 231.05it/s]

Updating sql column 'minbeli'

100%|██████████| 1582/1582 [00:07<00:00, 224.78it/s]

###### Fix 'merchanttype'

In [45]:
# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, merchanttype FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'merchanttype']

# Query 2
#########
sqlc2 = 'SELECT id, merchanttype, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'merchanttype', 'idprod']

In [46]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [47]:
prod.head()

                     idprod merchanttype
0  5aa2ad7735d6d34b0032a795        biasa
1  5aa39533ae1f941be7165ecd         gold
2  5a93e8768cbad97881597597         gold
3  5a95d7ae35d6d33d3fea56ff         gold
4  5aa274ad8cbad96d9a0c50be         gold

In [48]:
validasi.head()

                         id merchanttype                    idprod
0  5b32126eb8a9f70142f6a766  bigoldsgold  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767         None  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786  bigoldsgold  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769         None  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b  bigoldsgold  5aa2c35e35d6d34b0032a796

In [49]:
merchanttype = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
merchanttype.head()

,idprod,merchanttype_prod,id,merchanttype_val
0,5aa2ad7735d6d34b0032a795,biasa,5b32126eb8a9f70142f6a766,bigoldsgold
1,5aa39533ae1f941be7165ecd,gold,5b322e9cb8a9f70142f6a767,None
2,5a93e8768cbad97881597597,gold,5b324265b8a9f70142f6a768,None
3,5a95d7ae35d6d33d3fea56ff,gold,5b32509bb8a9f70142f6a769,None
4,5aa274ad8cbad96d9a0c50be,gold,5b326399b8a9f70142f6a76a,None

In [50]:
merchanttype.shape

(1582, 4)

In [51]:
merchanttype = merchanttype[['id', 'merchanttype_prod']]
merchanttype.columns = ['id', 'merchanttype']
merchanttype.head()

                         id merchanttype
0  5b32126eb8a9f70142f6a766        biasa
1  5b322e9cb8a9f70142f6a767         gold
2  5b324265b8a9f70142f6a768         gold
3  5b32509bb8a9f70142f6a769         gold
4  5b326399b8a9f70142f6a76a         gold

In [52]:
def upMerchant(connection, cursor, df):
    # read csv file
    merchanttype = df

    # update validasi.db 'merchanttype' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'merchanttype = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'merchanttype\'')
    for i in tqdm(range(len(merchanttype))):
        mongoid = merchanttype.loc[i, 'id']
        merchant = str(merchanttype.loc[i, 'merchanttype'])
        sqlall = sqlc1 + sqlc2 + '"'+merchant+'"' + ' ' + sqlc3 + '"' + mongoid + '"'
#       print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upMerchant(conn, c, merchanttype)

  1%|          | 16/1582 [00:00<00:10, 154.51it/s]

Updating sql column 'merchanttype'

100%|██████████| 1582/1582 [00:07<00:00, 222.67it/s]

###### update 'ranking'

In [53]:
# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, ranking FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'ranking']

# Query 2
#########
sqlc2 = 'SELECT id, ranking, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'ranking', 'idprod']

In [54]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [55]:
prod.head()

                     idprod  ranking
0  5aa2ad7735d6d34b0032a795  41580.0
1  5aa39533ae1f941be7165ecd  41233.5
2  5a93e8768cbad97881597597  41571.0
3  5a95d7ae35d6d33d3fea56ff  41052.5
4  5aa274ad8cbad96d9a0c50be  40821.5

In [56]:
validasi.head()

                         id  ranking                    idprod
0  5b32126eb8a9f70142f6a766        0  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767        0  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786        0  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769        0  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b        0  5aa2c35e35d6d34b0032a796

In [57]:
ranking = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
ranking.head()

,idprod,ranking_prod,id,ranking_val
0,5aa2ad7735d6d34b0032a795,41580.0,5b32126eb8a9f70142f6a766,0
1,5aa39533ae1f941be7165ecd,41233.5,5b322e9cb8a9f70142f6a767,0
2,5a93e8768cbad97881597597,41571.0,5b324265b8a9f70142f6a768,0
3,5a95d7ae35d6d33d3fea56ff,41052.5,5b32509bb8a9f70142f6a769,0
4,5aa274ad8cbad96d9a0c50be,40821.5,5b326399b8a9f70142f6a76a,0

In [58]:
ranking.shape

(1582, 4)

In [59]:
ranking = ranking[['id', 'ranking_prod']]
ranking.columns = ['id', 'ranking']
ranking.head()

                         id  ranking
0  5b32126eb8a9f70142f6a766  41580.0
1  5b322e9cb8a9f70142f6a767  41233.5
2  5b324265b8a9f70142f6a768  41571.0
3  5b32509bb8a9f70142f6a769  41052.5
4  5b326399b8a9f70142f6a76a  40821.5

In [60]:
def upRanking(connection, cursor, df):
    # read csv file
    ranking = df

    # update validasi.db 'merchanttype' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'ranking = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'ranking\'')
    for i in tqdm(range(len(ranking))):
        mongoid = ranking.loc[i, 'id']
        rank = str(ranking.loc[i, 'ranking'])
        sqlall = sqlc1 + sqlc2 + rank + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upRanking(conn, c, ranking)

  1%|▏         | 23/1582 [00:00<00:06, 228.47it/s]

Updating sql column 'ranking'

100%|██████████| 1582/1582 [00:07<00:00, 223.29it/s]

###### update 'salescluster'

In [61]:
# Database 1
# product.db
############
# make connection to sqlite db
conn1 = sqlite3.connect('product.db')
c1 = conn1.cursor()

# enable foreign keys
c1.execute("PRAGMA foreign_keys = ON")
conn1.commit()

# Database 2
# validasi.db
############
# make connection to sqlite db
conn2 = sqlite3.connect('validasi.db')
c2 = conn2.cursor()

# enable foreign keys
c2.execute("PRAGMA foreign_keys = ON")
conn2.commit()

# Query 1
#########
sqlc1 = 'SELECT id, salescluster FROM prodpage'
c1.execute(sqlc1)
conn1.commit()
prod = c1.fetchall()
prod = pd.DataFrame(prod)
prod.columns = ['idprod', 'salescluster']

# Query 2
#########
sqlc2 = 'SELECT id, salescluster, idprod FROM prodpage'
c2.execute(sqlc2)
conn2.commit()
validasi = c2.fetchall()
validasi = pd.DataFrame(validasi)
validasi.columns = ['id', 'salescluster', 'idprod']

In [62]:
prod.shape, validasi.shape

((41596, 2), (1582, 3))

In [63]:
prod.head()

                     idprod  salescluster
0  5aa2ad7735d6d34b0032a795           3.0
1  5aa39533ae1f941be7165ecd           3.0
2  5a93e8768cbad97881597597           3.0
3  5a95d7ae35d6d33d3fea56ff           3.0
4  5aa274ad8cbad96d9a0c50be           3.0

In [64]:
validasi.head()

                         id salescluster                    idprod
0  5b32126eb8a9f70142f6a766         None  5aa2ad7735d6d34b0032a795
1  5b322e9cb8a9f70142f6a767         None  5aa39533ae1f941be7165ecd
2  5b346235b8a9f70142f6a786         None  5aa54e9c35d6d336b75ec484
3  5b32509bb8a9f70142f6a769         None  5a95d7ae35d6d33d3fea56ff
4  5b3277a3b8a9f70142f6a76b         None  5aa2c35e35d6d34b0032a796

In [65]:
salescluster = pd.merge(prod, validasi, how='inner', on='idprod', suffixes=('_prod', '_val'))
salescluster.head()

,idprod,salescluster_prod,id,salescluster_val
0,5aa2ad7735d6d34b0032a795,3.0,5b32126eb8a9f70142f6a766,None
1,5aa39533ae1f941be7165ecd,3.0,5b322e9cb8a9f70142f6a767,None
2,5a93e8768cbad97881597597,3.0,5b324265b8a9f70142f6a768,None
3,5a95d7ae35d6d33d3fea56ff,3.0,5b32509bb8a9f70142f6a769,None
4,5aa274ad8cbad96d9a0c50be,3.0,5b326399b8a9f70142f6a76a,None

In [66]:
salescluster.shape

(1582, 4)

In [67]:
salescluster = salescluster[['id', 'salescluster_prod']]
salescluster.columns = ['id', 'salescluster']
salescluster.head()

                         id  salescluster
0  5b32126eb8a9f70142f6a766           3.0
1  5b322e9cb8a9f70142f6a767           3.0
2  5b324265b8a9f70142f6a768           3.0
3  5b32509bb8a9f70142f6a769           3.0
4  5b326399b8a9f70142f6a76a           3.0

In [68]:
def upSalescluster(connection, cursor, df):
    # read csv file
    salescluster = df

    # update validasi.db 'merchanttype' column
    sqlc1 = 'UPDATE prodpage SET '
    sqlc2 = 'salescluster = '
    sqlc3 = 'WHERE id = '

    print('Updating sql column \'salescluster\'')
    for i in tqdm(range(len(salescluster))):
        mongoid = salescluster.loc[i, 'id']
        cluster = str(salescluster.loc[i, 'salescluster'])
        sqlall = sqlc1 + sqlc2 + cluster + ' ' + sqlc3 + '"' + mongoid + '"'
#        print(sqlall)
        cursor.execute(sqlall)
        connection.commit()

upSalescluster(conn, c, salescluster)

  1%|▏         | 22/1582 [00:00<00:07, 217.41it/s]

Updating sql column 'salescluster'

100%|██████████| 1582/1582 [00:06<00:00, 227.09it/s]

In [ ]:
# ranking, update dengan model regressor setelah semua 
#          feature lengkap
# salescluster, update dengan model groupClass